<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCWTXlmuIY4_7gH9tFSuykh79TGOJcAqKE</string>
	<key>GCM_SENDER_ID</key>
	<string>414344671612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tatadev.lalafolike</string>
	<key>PROJECT_ID</key>
	<string>lala-75113</string>
	<key>STORAGE_BUCKET</key>
	<string>lala-75113.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414344671612:ios:82e9f6437b89517da3b4f9</string>
</dict>
</plist>