<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>486385708177-4627hmvfurrsk9gq295otud1kkei6a2n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486385708177-4627hmvfurrsk9gq295otud1kkei6a2n</string>
	<key>API_KEY</key>
	<string>AIzaSyA6Pqdc1dX_wanB3UmFt3REYOXssvdY2-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>486385708177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuthProject</string>
	<key>PROJECT_ID</key>
	<string>auth-1760b</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-1760b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486385708177:ios:19c71e3cb374e67972e330</string>
</dict>
</plist>